<div id="container" class="row flex-nowrap">
  <div class="gradient-custom col-auto col-md-3 col-xl-2 px-sm-2 px-0">
    <div
      class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
    >
      <a
        href="/"
        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
      >
        <span class="fs-5 d-none d-sm-inline"></span>
      </a>

      <ul
        class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start text-white"
        id="menu"
      >
        <li class="nav-item">
          <a href="#" class="nav-link align-middle px-0 text-white">
            <i class="fs-4 bi-house"></i>
            <span class="ms-1 d-none d-sm-inline ripple">Dashboard</span>
          </a>
        </li>
        <li *ngIf="isAdmin">
          <a
            href="#submenu1"
            data-bs-toggle="collapse"
            class="nav-link px-0 align-middle"
          >
            <i class="fs-4 bi-speedometer2"></i>
            <span class="ms-1 d-none d-sm-inline">Quản lý Người dùng</span>
          </a>
          <ul
            class="collapse show nav flex-column ms-1"
            id="submenu1"
            data-bs-parent="#menu"
          >
            <li class="w-100 ms-4">
              <a
                class="nav-link px-0"
                [routerLink]="['users']"
                [queryParams]="{ list: 'sinhvien' }"
                (click)="getRole(3)"
                ariaCurrentWhenActive="page"
              >
                <span class="d-none d-sm-inline">Quản lí Sinh viên</span>
              </a>
            </li>
            <li class="w-100 ms-4">
              <a
                class="nav-link px-0"
                [routerLink]="['users']"
                [queryParams]="{ list: 'giangvien' }"
                (click)="getRole(2)"
                ariaCurrentWhenActive="page"
              >
                <span class="d-none d-sm-inline">Quản lí Giảng viên</span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a
            href="#submenu2"
            data-bs-toggle="collapse"
            class="nav-link px-0 align-middle"
          >
            <i class="fs-4 bi-speedometer2"></i>
            <span class="ms-1 d-none d-sm-inline">Quản lý đề thi</span>
          </a>
          <ul
            class="collapse show nav flex-column ms-1"
            id="submenu2"
            data-bs-parent="#menu"
          >
            <li class="w-100 ms-4">
              <a
                class="nav-link px-0"
                [routerLink]="['exam']"
                ariaCurrentWhenActive="page"
              >
                <span class="d-none d-sm-inline">Đề thi</span>
              </a>
            </li>
            <li class="w-100 ms-4">
              <a
                class="nav-link px-0"
                [routerLink]="['question']"
                ariaCurrentWhenActive="page"
              >
                <span class="d-none d-sm-inline">Ngân hàng đề thi</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <hr />
    </div>
  </div>
  <div class="col py-3">
    <router-outlet></router-outlet>
  </div>
</div>
