#container {
    background-image: url("/assets/images/HINH_NEN.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

}

.gradient-custom {
    /* fallback for old browsers */
    background: #de7cf4;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(45deg,
            rgba(29, 236, 197, 0.6),
            rgba(91, 14, 214, 0.6) 100%);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(45deg, rgb(53 53 53 / 60%), rgb(32 0 82 / 60%) 100%);
}

a {
    color: aliceblue;
}