<button class="btn btn-primary" (click)="toggleAddUserForm()">
  Thêm người dùng
</button>

<app-add-user *ngIf="showAddUserForm"></app-add-user>
<div class="table-responsive">
  <table
    class="table table-striped table-hover table-borderless table-primary align-middle"
  >
    <thead class="table-light">
      <caption style="white-space: nowrap">
        Sinh viên
      </caption>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Status</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr class="table-primary" *ngFor="let user of UserList">
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.status }}</td>
        <td>{{ user.role?.name || "-" }}</td>
      </tr>
    </tbody>
    <tfoot></tfoot>
  </table>
</div>

<!-- <table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Status</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of UserList">
      <td>{{ user.id }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.gender }}</td>
      <td>{{ user.address }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.status }}</td>
      <td>{{ user.role?.name || "-" }}</td>
    </tr>
  </tbody>
</table> -->
